.xml
.csv
.csv.gz
.Rhistory
.RData
.Ruserdata
.DS_Store
*.csv
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/7DB2DF9E
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/9B990A89
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/7DB2DF9E-contents
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/9B990A89-contents
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/4404A24D
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/27CEC9E0-contents
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/A76A0DE9
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/lock_file
nizwan/.Rproj.user/shared/notebooks/patch-chunk-names
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/A76A0DE9-contents
nizwan/.Rproj.user/D5ED7C75/console06/INDEX001
nizwan/.Rproj.user/D5ED7C75/pcs/files-pane.pper
nizwan/.Rproj.user/D5ED7C75/pcs/source-pane.pper
*.pper
nizwan/.Rproj.user/D5ED7C75/sources/s-36A4A187/6B22B14D-contents
nizwan/.Rproj.user/D5ED7C75/sources/s-88932B7E/6B22B14D
nizwan/.Rproj.user/D5ED7C75/sources/s-88932B7E/6B22B14D-contents
nizwan/.Rproj.user/D5ED7C75/sources/s-88932B7E/lock_file
nizwan/.Rproj.user/DFBF58D9/rmd-outputs
nizwan/.Rproj.user/DFBF58D9/saved_source_markers
nizwan/.Rproj.user/D5ED7C75/sources/s-36A4A187/6B22B14D-contents
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/10D8FA8D-contents
nizwan/.Rproj.user/D5ED7C75/saved_source_markers
nizwan/.Rproj.user/D5ED7C75/rmd-outputs
nizwan/.Rproj.user/D5ED7C75/sources/prop/E9E03A6E
nizwan/.Rproj.user/D5ED7C75/sources/s-36A4A187/6B22B14D-contents
nizwan/.Rproj.user/DFBF58D9/sources/s-9AC44F27/13F821F7-contents
nizwan/.Rproj.user/D5ED7C75/sources/s-36A4A187/6B22B14D-contents
