.xml
.csv
.csv.gz
.Rhistory
.RData
.Ruserdata
.Rproj
.DS_Store
nizwan/.Rproj.user/D5ED7C75/sources/prop/E9E03A6E
nizwan/.Rproj.user/D5ED7C75/sources/s-36A4A187/6B22B14D
nizwan/.Rproj.user/D5ED7C75/sources/s-36A4A187/lock_file
nizwan/.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user
*.csv
